/TeoriaArrays/nbproject/private/
/TeoriaArrays/build/
/aranyesRecursiu/nbproject/private/
/aranyesRecursiu/build/
/aranyesRecursiu/dist/
/Recursivitat/nbproject/private/
/Recursivitat/build/
/Recursivitat/dist/
/ExamenRecursiu/nbproject/private/
/ExamenRecursiu/build/
/ExamenRecursiu/dist/
/exercicisArraysVectores/nbproject/private/
/Arrays/nbproject/private/
/Arrays/dist/
/Arrays/build/
